@model FinalPostPart.Models.PostTable

@{
    ViewBag.Title = "Upload";
}

<h2>Hello! Here you can write what's on your mind or share your photos with friends.</h2>

@using (Html.BeginForm("Upload", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div style="font-family:Arial">
        <table>
            <tr>
                <td>
                    Add a title:
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.PostTitle)
                    @Html.ValidationMessage("CustomMessage")
                </td>
            
            </tr>
            <tr>
                <td>Select image you want to share: </td>
                <td>
                    @Html.TextBoxFor(Model => Model.File, new { type = "file" })
                    @Html.ValidationMessage("CustomMessage")
                </td>
            </tr>
            
            <tr>
                <td>Whats on your mind? </td>
                <td>
                    @Html.TextAreaFor(Model => Model.TextPost)
                </td>
            </tr>
            
            <tr>
                <td>
                    <input type="submit" value="Post" />
                </td>
            </tr>

        </table>
    </div>
}
