@model MvcApplication10.Models.PostContent

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    <fieldset>
        <legend>PostContent</legend>

       
        <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.ID })" />
        <div>Upload new image: <input type="file" name="Image" /></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TextPost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TextPost)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
