@model MvcApplication10.Models.PostContent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PostContent</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageMimeType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageMimeType)
            @Html.ValidationMessageFor(model => model.ImageMimeType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TextPost)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TextPost)
            @Html.ValidationMessageFor(model => model.TextPost)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
